body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/img/background.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.glass-container {
  position:absolute;
  display: flex;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 16px 32px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  gap: 40px;
}

.glass-container > * {
  flex: 1;
}

.user-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .glass-container {
    flex-direction: column;
    gap: 20px; 
  }

  .app-container {
    margin-top: 160px;
    width: 500px;
    padding: 10px; 
  }
  .glass-container {
    flex-direction: column;
    text-align: justify;
    gap: 20px; 
    padding: 8px 8px; 
    width: 100%;
  }

  .description-container { 
    text-align: justify; 
    width: 100%;
    padding: 0 10px;
  }

  .user-form-wrapper {
    width: 100%; 
  }
  .user-form-reset-btn,.user-form-submit-btn{
    width: auto;
    height: 50px;
    font-size: 10px;
  }
}

